{% extends 'layout.html'%}
{% block title %}{{ title }}{% endblock title %}


{% block styles %}

    <!--plugin css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugin/nouislider/nouislider.min.css') }}">

{% endblock styles %}

{% block content %}

<div class="container-xxl">
    <div class="row align-items-center">
        <div class="border-0 mb-4">
            <div
                class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                <h3 class="fw-bold mb-0">Products</h3>
            </div>
        </div>
    </div> <!-- Row end  -->
    <div class="row g-3 mb-3">
        <div class="col-md-12 col-lg-4 col-xl-4 col-xxl-3">
            <div class="sticky-lg-top">
                <div class="card mb-3">
                    <div class="categories">
                        <div class="filter-title">
                            <a class="title" data-bs-toggle="collapse" href="#category" role="button"
                                aria-expanded="true">Categories</a>
                        </div>
                        <div class="collapse show" id="category">
                            <div class="filter-search">
                                <form action="#">
                                    <input type="text" placeholder="Search" class="form-control">
                                    <button><i class="lni lni-search-alt"></i></button>
                                </form>
                            </div>
                            <div class="filter-category">
                                <ul class="category-list">
                                    {% for category in categories %}
                                        <li><a href="{{ category.title }}">{{ category.title }}</a>
                                    </li>
                                    {% endfor %}
                                    <li><a href="#" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="false"
                                            class="collapsed">Game accessories</a>
                                        <ul id="collapseOne" class="sub-category collapse"
                                            data-parent="#category">
                                            <li><a href="#">PlayStation 4</a></li>
                                            <li><a href="#">Oculus VR</a></li>
                                            <li><a href="#">Remote</a></li>
                                            <li><a href="#">Lighting Keyborad</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="collapsed" href="#" data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo">Bags</a>
                                        <ul id="collapseTwo" class="sub-category collapse"
                                            data-parent="#category">
                                            <li><a href="#">School Bags</a></li>
                                            <li><a href="#">Traveling Bags</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="collapsed" href="#" data-bs-toggle="collapse"
                                            data-bs-target="#collapseThree">Flower Port</a>
                                        <ul id="collapseThree" class="sub-category collapse"
                                            data-parent="#category">
                                            <li><a href="#">Woodan Port</a></li>
                                            <li><a href="#">Pattern Port</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="collapsed" href="#" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFour">Watch</a>
                                        <ul id="collapseFour" class="sub-category collapse"
                                            data-parent="#category">
                                            <li><a href="#">Wall Clock</a></li>
                                            <li><a href="#">Smart Watch</a></li>
                                            <li><a href="#">Rado Watch</a></li>
                                            <li><a href="#">Fasttrack Watch</a></li>
                                            <li><a href="#">Noise Watch</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="collapsed" href="#" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFive">Accessories</a>
                                        <ul id="collapseFive" class="sub-category collapse"
                                            data-parent="#category">
                                            <li><a href="#">Note Diaries</a></li>
                                            <li><a href="#">Fold Diaries</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="size-block">
                        <div class="filter-title">
                            <a class="title" data-bs-toggle="collapse" href="#size" role="button"
                                aria-expanded="true">Select Size</a>
                        </div>
                        <div class="collapse show" id="size">
                            <div class="filter-size" id="filter-size-1">
                                <ul>
                                    <li>XS</li>
                                    <li>S</li>
                                    <li class="">M</li>
                                    <li>L</li>
                                    <li>XL</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="color-block">
                        <div class="filter-title">
                            <a class="title" data-bs-toggle="collapse" href="#color" role="button"
                                aria-expanded="false">Select Color</a>
                        </div>
                        <div class="collapse show" id="color">
                            <div class="filter-color">
                                <ul>
                                    <li>
                                        <div class="color-check">
                                            <p><span style="background-color: #4114e4;"></span>
                                                <strong>Blue</strong></p>

                                            <input type="checkbox" id="color-1">
                                            <label for="color-1"><span></span></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="color-check">
                                            <p><span style="background-color: #E14C7B;"></span>
                                                <strong>Red</strong></p>

                                            <input type="checkbox" id="color-2">
                                            <label for="color-2"><span></span></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="color-check">
                                            <p><span style="background-color: #7CB637;"></span>
                                                <strong>Green</strong></p>

                                            <input type="checkbox" id="color-3">
                                            <label for="color-3"><span></span></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="color-check">
                                            <p><span style="background-color: #161359;"></span>
                                                <strong>Dark</strong></p>

                                            <input type="checkbox" id="color-4">
                                            <label for="color-4"><span></span></label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="price-range-block">
                        <div class="filter-title">
                            <a class="title" data-bs-toggle="collapse" href="#pricingTwo" role="button"
                                aria-expanded="false">Pricing Range</a>
                        </div>
                        <div class="collapse show" id="pricingTwo">
                            <div class="price-range">
                                <div class="price-amount flex-wrap">
                                    <div class="amount-input mt-1">
                                        <label class="fw-bold">Minimum Price</label>
                                        <input type="text" id="minAmount2" class="form-control">
                                    </div>
                                    <div class="amount-input mt-1">
                                        <label class="fw-bold">Maximum Price</label>
                                        <input type="text" id="maxAmount2" class="form-control">
                                    </div>
                                </div>
                                <div id="slider-range2"
                                    class="slider-range noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-8 col-xl-8 col-xxl-9">
            <div class="card mb-3 bg-transparent p-2">
                {% for product in products %}
                    <div class="card border-0 mb-1">
                        <div class="card-body d-flex align-items-center flex-column flex-md-row">
                            <a href="{{ url_for('admin.view_product', product_id=product.id) }}">
                                <img class="w120 rounded img-fluid"
                                    src="{{ url_for('static', filename='images/product/'+ product.image ) }}" alt="">
                            </a>
                            <div class="ms-md-4 m-0 mt-4 mt-md-0 text-md-start text-center w-100">
                                <a href="product-detail.html">
                                    <h6 class="mb-3 fw-bold">{{ product.title }} <span
                                            class="text-muted small fw-light d-block">{{ product.url }}</span>
                                    </h6>
                                </a>
                                <div class="d-flex flex-row flex-wrap align-items-center justify-content-center justify-content-md-start">
                                    
                                    <div class="pe-xl-5 pe-md-4 ps-md-0 px-3 mb-2">
                                        <div class="text-muted small">Price</div>
                                        <strong>${{ product.price_old }}</strong>
                                    </div>
                                    <div class="pe-xl-5 pe-md-4 ps-md-0 px-3 mb-2">
                                        <div class="text-muted small">Quantity in stock</div>
                                        <strong>{{ product.quantity }}</strong>
                                    </div>
                                    <div class="pe-xl-5 pe-md-4 ps-md-0 px-3 mb-2">
                                        <div class="text-muted small">Ratings</div>
                                        <strong><i class="icofont-star text-warning"></i>4.5 <span
                                                class="text-muted">(145)</span></strong>
                                    </div>
                                </div>
                                <div class="pe-xl-5 pe-md-4 ps-md-0 px-3 mb-2 d-inline-flex d-md-none">
                                    <button type="button" class="btn btn-primary">Add Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
            <div class="row g-3 mb-3">
                <div class="col-md-12">
                    <nav class="justify-content-end d-flex">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div> <!-- Row end  -->
</div>

{% endblock content %}


{% block scripts %}


<!-- Jquery Core Js -->      
<script src="{{ url_for('static', filename='bundles/libscripts.bundle.js' )}}"></script>
<!-- Jquery Plugin --> 
<script src="{{ url_for('static', filename='plugin/nouislider/nouislider.min.js') }}"></script>

<!-- Jquery Page Js -->   
<script src="{{ url_for('static', filename='js/template.js') }}"></script>
<script>
    var stepsSlider2 = document.getElementById('slider-range2');
        var input3 = document.getElementById('minAmount2');
        var input4 = document.getElementById('maxAmount2');
        var inputs2 = [input3, input4];
        noUiSlider.create(stepsSlider2, {
            start: [149, 399],
            connect: true,
            step: 1,
            range: {
                'min': [0],
                'max': 2000
            },

        });

        stepsSlider2.noUiSlider.on('update', function (values, handle) {
            inputs2[handle].value = values[handle];
        });
</script>

{% endblock scripts %}
