{% extends "public/layout.html" %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}

    <!-- product-detail content -->
    <div class="bg-main">
        <div class="container">
            <div class="box">
                <div class="breadcumb">
                    <a href="./index.html">home</a>
                    <span><i class='bx bxs-chevrons-right'></i></span>
                    <a href="">all products</a>
                    <span><i class='bx bxs-chevrons-right'></i></span>
                    <a href="{{url_for('public.checkout')}}">checkout</a>
                </div>
            </div>
            <form action="#" method="post">
                {{ form.hidden_tag() }}
                <div class="row product-row">
                    <div class="col-6 col-md-12">
                        <div class="box">
                            <div class="box-header">
                                Shipping Details
                            </div>
                            <div class="py-4">
                                <div class="mb-3">
                                    {{ form.address.label() }}
                                    {% if form.address.errors %}
                                        {{ form.address(class="form-control invalid") }}
                                        {% for error in form.address.error %}
                                            <div class="invalid-feedback">
                                                <span>
                                                    {{ error }}
                                                </span>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.address(class="form-control") }}
                                    {% endif %}
                                </div>
                                <div class="row mb-3 justify-content-between">
                                    <div class="col-sm-12 col-md-5 mb-3">
                                        {{ form.city.label() }}
                                        {% if form.city.errors %}
                                            {{ form.city(class="form-control invalid",) }}
                                            {% for error in form.city.error %}
                                                <div class="invalid-feedback">
                                                    <span>
                                                        {{ error }}
                                                    </span>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {{ form.city(class="form-control") }}
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-12 col-md-5 mb-3">
                                        {{ form.state.label() }}
                                        {% if form.state.errors %}
                                            {{ form.state(class="form-control invalid") }}
                                            {% for error in form.state.error %}
                                                <div class="invalid-feedback">
                                                    <span>
                                                        {{ error }}
                                                    </span>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {{ form.state(class="form-control") }}
                                        {% endif %}
                                    </div>                                    
                                </div>
                                <div class="row mb-3 justify-content-between">
                                    <div class="col-12 mb-3">
                                        {{ form.description.label() }}
                                        {% if form.description.errors %}
                                            {{ form.description(class="form-control invalid",) }}
                                            {% for error in form.description.error %}
                                                <div class="invalid-feedback">
                                                    <span>
                                                        {{ error }}
                                                    </span>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {{ form.description(class="form-control") }}
                                        {% endif %}
                                    </div>                                 
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-6 col-md-12 bg-dark text-white pt-4">
                        <div class="box">
                            <div class="box-header d-flex justify-content-between">
                                <p>Payment Details</p> 
                                <p>&#x20A6;{{"{:,.2f}".format(total)}}</p>
                            </div>

                            <div class="py-4">
                                <div class="mb-3">
                                    {{ form.amount.label() }}
                                    {% if form.amount.errors %}
                                        {{ form.amount(class="form-control invalid", id='amount', value=total, disabled="true", step=".01") }}
                                        {% for error in form.amount.error %}
                                            <div class="invalid-feedback">
                                                <span>
                                                    {{ error }}
                                                </span>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.amount(class="form-control", id='amount', value=total, disabled="true", step=".01") }}
                                    {% endif %}
                                </div>
                                
                                <div class="mb-3">
                                    {{ form.firstname.label() }}
                                    {% if form.firstname.errors %}
                                        {{ form.firstname(class="form-control invalid", id='firstname', placeholder="John") }}
                                        {% for error in form.firstname.error %}
                                            <div class="invalid-feedback">
                                                <span>
                                                    {{ error }}
                                                </span>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.firstname(class="form-control invalid", id='firstname', placeholder="John") }}
                                    {% endif %}
                                </div>

                                <div class="mb-3">
                                    {{ form.lastname.label() }}
                                    {% if form.lastname.errors %}
                                        {{ form.lastname(class="form-control invalid", id='lastname', placeholder="Doe") }}
                                        {% for error in form.lastname.error %}
                                            <div class="invalid-feedback">
                                                <span>
                                                    {{ error }}
                                                </span>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.lastname(class="form-control invalid", id='lastname', placeholder="Doe") }}
                                    {% endif %}
                                </div>
                                <div class="mb-3">
                                    {{ form.email.label() }}
                                    {% if form.email.errors %}
                                        {{ form.email(class="form-control invalid", id='email', placeholder="sample@mail.com") }}
                                        {% for error in form.email.error %}
                                            <div class="invalid-feedback">
                                                <span>
                                                    {{ error }}
                                                </span>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.email(class="form-control invalid", id='email', placeholder="sample@mail.com") }}
                                    {% endif %}
                                </div>

                                <div class="mb-3">
                                    {{ form.phone.label() }}
                                    {% if form.phone.errors %}
                                        {{ form.phone(class="form-control invalid", id='phone', placeholder="") }}
                                        {% for error in form.phone.error %}
                                            <div class="invalid-feedback">
                                                <span>
                                                    {{ error }}
                                                </span>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ form.phone(class="form-control invalid", id='name', placeholder="+2347012345678") }}
                                    {% endif %}
                                </div>
                                <div class="mb-3">
                                    {{ form.submit(class="form-control btn btn-success") }}
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- end product-detail content -->

{% endblock content %}

{% block scripts %}

    <!-- app js -->
    <script>
        const server_image = "{{ url_for('static', filename='images/bag.jpeg') }}";
    </script>
    <script src="{{url_for('static', filename="js/app.js")}}"></script>

    
{% endblock %}