{% extends "public/layout.html" %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}

    <!-- product-detail content -->
    <div class="bg-main">
        <div class="container">
            <h3>Contact</h3>
        </div>
    </div>
    <!-- end product-detail content -->

{% endblock content %}

{% block scripts %}

    <!-- app js -->
    <script>
        const server_image = "{{ url_for('static', filename='images/bag.jpeg') }}";
    </script>
    <script src="{{url_for('static', filename="js/app.js")}}"></script>
    <script src="{{url_for('static', filename="js/product-detail.js")}}"></script>
    
{% endblock %}