<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <!-- boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!-- bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- app css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>

<body>

    <!-- header -->
    <header>
        <!-- mobile menu -->
        <div class="mobile-menu bg-second">
            <a href="{{url_for('public.index')}}" class="mb-logo">JayLinkUp</a>
            <span class="mb-menu-toggle" id="mb-menu-toggle">
                <i class='bx bx-menu'></i>
            </span>
        </div>
        <!-- end mobile menu -->
        <!-- main header -->
        <div class="header-wrapper" id="header-wrapper">
            <span class="mb-menu-toggle mb-menu-close" id="mb-menu-close">
                <i class='bx bx-x'></i>
            </span>
            <!-- end top header -->
            <!-- mid header -->
            <div class="bg-main">
                <div class="mid-header container">
                    <a href="{{url_for('public.index')}}" class="logo">JayLinkUp</a>
                    <div class="search">
                        <input type="text" placeholder="Search">
                        <i class='bx bx-search-alt'></i>
                    </div>
                    <ul class="user-menu">
                        <li><a href="{{url_for("public.profile")}}"><i class='bx bx-user-circle'></i></a></li>
                        <li>
                            <a href="{{url_for("public.cart")}}" class="position-relative">
                                <i class='bx bx-cart'></i>
                                <small class="position-absolute top-50 start-50 badge rounded-pill text-dark fs-6 ps-3"></small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end mid header -->
            <!-- bottom header -->
            <div class="bg-second">
                <div class="bottom-header container">
                    <ul class="main-menu">
                        <li><a href="{{url_for('public.index')}}">Home</a></li>
                        <!-- mega menu -->
                        <li class="mega-dropdown d-none d-md-block">
                            <a href="{{url_for('public.shop')}}">Shop<i class='bx bxs-chevron-down'></i></a>
                            <div class="mega-content">
                                <div class="row">
                                    <div class="col-3 col-md-12">
                                        <div class="box">
                                            <h3>Categories</h3>
                                            <ul>
                                                <li><a href="{{ url_for('public.shop_filtered', filter='men') }}">Men</a></li>
                                                <li><a href="{{ url_for('public.shop_filtered', filter='ladies') }}">Ladies</a></li>
                                                <li><a href="{{ url_for('public.shop_filtered', filter='kiddies') }}/">Kids</a></li>
                                                <li><a href="{{ url_for('public.shop_filtered', filter='unisex') }}">Unisex</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-3 col-md-12">
                                        <div class="box">
                                            <h3>Tops</h3>
                                            <ul>
                                                <li><a href="{{ url_for('public.shop_filtered', filter='shirts') }}">Shirts</a></li>
                                                <li><a href="{{ url_for('public.shop_filtered', filter='t-shirts') }}">T-Shirts</a></li>
                                                <li><a href="{{ url_for('public.shop_filtered', filter='hoodies') }}">Hoodies</a></li>
                                                <li><a href="{{ url_for('public.shop_filtered', filter='sweaters') }}">Sweaters</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-3 col-md-12">
                                        <div class="box">
                                            <h3>Pants</h3>
                                            <ul>
                                                <li><a href="{{ url_for('public.shop_filtered', filter='shorts') }}">Shorts/Knickers</a></li>
                                                <li><a href="{{ url_for('public.shop_filtered', filter='trousers') }}">Trousers</a></li>
                                                <li><a href="{{ url_for('public.shop_filtered', filter='skirts') }}">Skirts</a></li>
                                                <li><a href="{{ url_for('public.shop_filtered', filter='joggers') }}">Joggers</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-3 col-md-12">
                                        <div class="box">
                                            <h3>Kicks</h3>
                                            <ul>
                                                <li><a href="{{ url_for('public.shop_filtered', filter='shoes') }}">Dress Shoes</a></li>
                                                <li><a href="{{ url_for('public.shop_filtered', filter='sneakers') }}">Sneakers</a></li>
                                                <li><a href="{{ url_for('public.shop_filtered', filter='boots') }}">Boots</a></li>
                                                <li><a href="{{ url_for('public.shop_filtered', filter='slides') }}">Slides</a></li>
                                                <li><a href="{{ url_for('public.shop_filtered', filter='heels') }}">Heels</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="d-md-none"><a href="{{url_for('public.shop')}}">Shop</a></li>
                        <!-- end mega menu -->
                        <li><a href="{{url_for('public.about')}}">About</a></li>
                        <li><a href="{{url_for('public.contact')}}">Contact</a></li>
                    </ul>
                </div>
            </div>
            <!-- end bottom header -->
        </div>
        <!-- end main header -->
    </header>
    <!-- end header -->

    {% if get_flashed_messages() %}
        {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}

     <!-- footer -->
     <footer class="bg-second">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <h3 class="footer-head">Products</h3>
                    <ul class="menu">
                        <li><a href="{{ url_for('public.shop_filtered', filter='men') }}">Men's Wear</a></li>
                        <li><a href="{{ url_for('public.shop_filtered', filter='ladies') }}">Ladies Wears</a></li>
                        <li><a href="{{ url_for('public.shop_filtered', filter='kiddies') }}">Kiddies World</a></li>
                        <li><a href="{{ url_for('public.shop_filtered', filter='unisex') }}/">Unisex</a></li>
                        <li><a href="{{ url_for('public.shop_filtered', filter='accessories') }}">Accessories</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-3">
                    <h3 class="footer-head">About Us</h3>
                    <ul class="menu">
                        <li><a href="{{ url_for('public.about') }}">About Us</a></li>
                        <li><a href="{{ url_for('public.shop') }}">Our Shop</a></li>
                        <li><a href="{{ url_for('public.contact') }}">Contact Page</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-3">
                    <h3 class="footer-head">Contact Us</h3>
                    <ul class="menu">
                        <li><a href="#">Location: Wuse Market, Abuja</a></li>
                        <li><a href="mailto:support@jaylinkup.com">Email: support@jaylinkup.com</a></li>
                        <li><a href="tel:2349012121212">Phone: 09012121212</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-3 col-sm-12">
                    <div class="contact">
                        <h3 class="contact-header">
                            JayLinkUp
                        </h3>
                        <ul class="contact-socials">
                            <li><a href="#">
                                    <i class='bx bxl-facebook-circle'></i>
                                </a></li>
                            <li><a href="#">
                                    <i class='bx bxl-instagram-alt'></i>
                                </a></li>
                            <li><a href="#">
                                    <i class='bx bxl-youtube'></i>
                                </a></li>
                            <li><a href="#">
                                    <i class='bx bxl-twitter'></i>
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->

    <!-- app js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename="js/app.js") }}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>