{% extends "public/layout.html" %}
{% block title %}{{ title }}{% endblock title %}

{% block content %}


    <!-- product list -->
    <div class="section">
        <div class="container">
            <div class="section-header">
                <h2>Shopping For {{ filter }}</h2>
            </div>
            <div class="row" id="latest-products">
                {% for product in products %}
                    <div class="col-3 col-md-6 col-sm-12">
                        <div class="product-card" data-id="{{product.id}}">
                            <div class="product-card-img">
                                <img src="{{ url_for('static', filename="images/product/"+product.image) }}" class="first-image" alt="">
                                <img src="{{ url_for('static', filename="images/product/"+product.image) }}" class="second-image" alt="">
                            </div>
                            <div class="product-card-info">
                                <div class="product-btn">
                                    <a href="{{url_for('public.product_detail', id=product.id)}}" class="btn-flat btn-hover btn-shop-now">View</a>
                                    <button class="btn-flat btn-hover btn-cart-add add-to-cart">
                                        <i class='bx bxs-cart-add'></i>
                                    </button>
                                    <button class="btn-flat btn-hover btn-cart-add">
                                        <i class='bx bxs-heart'></i>
                                    </button>
                                </div>
                                <div class="product-card-name">
                                    {{product.title}}
                                </div>
                                <div class="product-card-price">
                                    {% if product.price_old %}
                                        <span><del>&#x20A6;{{product.price_old}}</del></span>
                                    {% endif %}
                                    <span class="curr-price">&#x20A6;<span class="price">{{product.price_new}}</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- pagination start -->

            <!-- pagination end -->
        </div>
    </div>
    <!-- end product list -->
{% endblock content %}

{% block scripts %}
    <script src="{{ url_for('static', filename="js/index.js") }}"></script>
{% endblock %}